.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  margin: 1.5rem;
}

.example-sidenav {
  padding: 20px;
  background-color: #354343;
  color: #ffffff;
}

 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1.1rem;
  margin-bottom: .7rem;
  
}
mat-list-item {
  margin-bottom: .7rem;
}
a:hover {
  background-color: #191e1e;
}
.active {
  background-color: #191e1e;
  color: #9fa7a7;
}
