<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <h2>{{title}}</h2>
    <mat-list>
        <mat-list-item>
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </mat-list-item>
        <mat-list-item>
            <a routerLink="/users" routerLinkActive="active">Users</a>
        </mat-list-item>
        <mat-list-item>
            <a routerLink="/createuser" routerLinkActive="active">Create User</a>
        </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
